.headsup-container {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    .image-container {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .title-container {
        bottom: 70px;
        background: darken(grey, 30%);
        height: 70px;
        left: 0px;
        .title {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1em;
            font-weight: 600;
            line-height: 1.4em;
            position: relative;
            padding-top: 5px;
            //bottom: 60px;
            color: white;
            margin: 10px;
            left: 0;
            //width: 100%;
            text-align: center;
        }
    }
    img {
        width: 100%;
    }
    .slick-dots li button:before {
        font-size: 20px;
        line-height: 20px;
        color: $color-primary;
    }
}