.home-page-startups{
    .section-title{
        color:#fff;
    }
    .section-sub{
        width:100%;
        color:#fff;
    }
    .card a {
    color: #ffab40;
     margin-right: 0;
    }
    .grid-news-hover .blog-content {
    padding: 5px;
    }
    .blog-content{
                 height: 310px;        
        p{
                line-height: 20px;
        }
    }
}